
<img style="position:absolute;top:50px;width:500px;height: 500px;left:50px;"src="./assets/veg-fruit.jpg">
<img style="position:absolute;top:510px;width:520px;height: 100px;left:50px;"src="./assets/flower.jpg">

<div class="text" style="position:absolute;width:450px;height:250px;color:antiquewhite;left:720px;top:200px;">
 <h4 style="color:black">Welcome</h4>
    <p style="position:absolute;color:black;font-style: italic;">
        "Fruits and vegetables contain important vitamins, minerals and plant chemicals. 
        They also contain fibre. 
        A diet high in fruit and vegetables can help protect you against cancer, diabetes and heart disease.
        dry fruits are rich in vitamins and proteins; they also boost immunity and prevent lifestyle diseases such as cholesterol and diabetes. 
        and coming to flowers, they are one of the most beautiful gifts given to us by nature. The different colours and beautiful fragrance of it is what makes flowers desirable to human beings.
        click down to visit and know which all products we do have."
    </p>

    <button style="position:absolute;top:320px; left:350px;width:100px;height:50px;box-shadow: 10px 10px 10px grey;font-size: 20px;font-weight: 500;" (click)="gotocomp1()"class="btn btn-success">Next</button>
</div>
